body {
  background-image: linear-gradient(
    to right top,
    #f5fdea,
    #effff8,
    #defbff,
    #c6f0ee,
    #cdf3e3
  );
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  width: 100%;
}

#logo {
  width: 12vw;
  min-width: 100px;
}

nav {
  background-color: #e5f0ff;
}

.nav-link {
  font-size: 1.5rem;
}

footer {
  background-color: #e5f0ff;
}

.btn {
  background-color: #3ddd92;
}

.illustration img {
  width: 50vw;
  min-width: 300px;
}

.logo div img {
  width: 40vw;
  min-width: 300px;
}
